
header{
    width: 75%;
    background-color: skyblue;
    font-family: monospace;
    text-align: right;
   
}
body{
    background-color: rgb(230, 230, 250);
    font-family: monospace;
    display:block;
    
}

@media screen and (max-width: 500px) {
    section#reviews {
      display:none;
    }
  }
  header img{
    width:75%;
  }